body{
  background-image: url('https://img.freepik.com/free-vector/set-basic-doodle-arrows_78370-1785.jpg');
    background-size: cover;
}

#contact{

    background-color: gainsboro;
    margin: auto;
   width: 50%;
  border: 3px solid grey;
  padding: 10px;
  height: 500px;
  width:400px
}

h2 {text-align: center;}

#logo{
    font-family: Brush Script MT;
    text-align: center;
    color: azure;
    font-size: 100px;
}


